<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>condition</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Google Web Fonts CSS -->
<link href="http://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">

<!-- Original CSS -->
<link href="css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<header id="header" class="navbar navbar-inverse navbar-static-top" role="banner">
<div class="container1">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Pink Time！</a>
</div>
<nav class="collapse navbar-collapse navbar-top navbar-right" role="navigation">
<ul class="nav navbar-nav">
<li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
<li><a href="lunchrequests/new"><span class="glyphicon glyphicon-user"></span>&nbsp;Condition</a></li>
<li><a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-pencil"></span>&nbsp;plofile</a></li>
<li><a href="./list.html"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Message</a></li>
<li><a href="rankings"><span class="glyphicon glyphicon-tower"></span>&nbsp;Ranking</a></li>
<li><a href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
</ul>
</nav>
</div>
</header>


<!-- アバターの一覧表示かつ投票ボタンにしたいのだ -->
<body>
<div id="header">
  <br>
  <div id="content-ranking" class="foldtl container">
    <br><br><br>
    <div class="col-xs-12 col-md-12 text-center">
      <h2>Good-Looking Boy</h2>
      <h2 class="text-center">Ranking</h2>
    </div>
    <br><br><br><br><br>
    <div id="content-ranking" class="container2">
      <br>
      <br>
      <div class="form-horizontal" role="form" >
        <div class="row" style="margin-left:35px;">
        <% @q.each_with_index do |user, i| %>
          <div class="col-xs-12 col-sm-4">
            <%= image_tag(user.avatar.url(:medium), class: 'img-circle', size: '180x180') %>
            <%= content_tag(:h2) { "#{i + 1}位" } %>
            <%= content_tag(:h2) { user.name } %>
            <%= content_tag(:p) { user.like } %>
          </div>
        <% end %>
       </div>
      </div>
    </div>
    <hr/ >


    <% @users.each_with_index do |user, index| %>
      <% if index % 2 == 0 %>
        <div class="form-horizontal ">
      <% end %>
      <div class="row1 user-box">
        <div class="col-sm-4">
          <%= link_to(image_tag(user.avatar.url(:medium), class: 'mg-rounde img-circle', size: '180x180'), "users/like/#{user.id}")%>
        </div>
      </div>
      <% if index % 2 == 0 %>
      </div>
      <% end %>
    <% end %>

      <div class="row">
        <div id="home-img1" class="more col-xs-9 col-sm-10 text-right">
          <h4> もっとみる</h4>
        </div>
      </div>
      <br><br>
    </div>
    <br><br>
 </div>
  <br><br>
 </div>

  <hr />
  <footer>
    <div class="container text-center">
      <small>このサイトはコミュニティの場を提供するサイトです。</small>
      <p>Copyright &copy; 2016 Hope Collective Inc. All Rights Reserved.</p>
      <br><br>
    </div>
  </footer>

</body>
</html>
