<h1><イベント詳細></h1>

日時 ： <%= @lunchrequest.date %>
<%= @lunchrequest.time %>
<br>

場所 ： <%= @lunchrequest.place %><br>
人数 ： <%= @lunchrequest.pepole %><br>


<% user = User.find(@lunchrequest.user_id) %>

  <h2><%= user.name %>さんのプロフィール</h2>

   <%= image_tag user.avatar.url(:medium) %>
   <p><%= user.sex %></p>
     <p><%= user.department %></p>
      <p><%= user.message %></p>



<!--   追加         -->
<%= link_to "Chatを開始", chat_path(:man_id => user.id, :woman_id => current_user.id) %>