  <p>----------------------------------------------</p>

<% unless current_user.full_profile? %>
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  <% else %>

<% end %>




  <% @lunchrequests.each do |lunchrequest| %>
    <p><%= lunchrequest.date %></p>
    <p><%= lunchrequest.time %></p>
    <p><%= lunchrequest.place %></p>
    <p><%= lunchrequest.pepole %></p>
  <% end %>
</div>
