<h1>ちゃっと</h1>
<div>
<a><%= @man_name %> (man)</a>と<a><%= @woman_name %> (woman)</a>の部屋
</div>

<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="msgbody">めっせーじ</label>
	    <div class="col-sm-10">
			<input type="text" class="form-control" id="msgbody" />
	    </div>
	</div>

    <input type="hidden" id="group_id" value="<%= @group_id %>" />
    <input type="hidden" id="man_id" value="<%= @man_id %>" />
    <input type="hidden" id="woman_id" value="<%= @woman_id %>" />
    <input type="hidden" id="own_id" value="<%= current_user.id %>" />
    <input type="hidden" id="own_name" value="<%= current_user.name %>" />



	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<input type="button" class="btn btn-primary" id="send" value="送信" />
	    </div>
	</div>
</form>
<div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
<% @messages.each do |ms| %>
<a><%= ms.own_name %> : <%= ms.message %></a><br>
<% end %>

</div>

